<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 

    <description>
      Servlet and JSP Examples.
    </description>
    <display-name>Servlet and JSP Examples</display-name>


	
<!-- Example filter mapping to apply the "Set Character Encoding" filter
     to *all* requests processed by this web application -->
<!--
    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->

<!--
    <filter-mapping>
      <filter-name>Compression Filter</filter-name>
      <url-pattern>/CompressionTest</url-pattern>
    </filter-mapping>
-->

<!--
    <filter-mapping>
        <filter-name>Request Dumper Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->


  <!-- BELOW Define servlets that are included in CADViewer application -->

  <!-- NOTE:  Under Linux replace c:\xampp\tomcat\webapps with /var/lib/tomcat{X}.       -->

<!--

      <param-value>
        default-src 'self'; 
        script-src 'self' 'unsafe-eval' 'unsafe-inline'; 
        style-src 'self' 'unsafe-inline'; 
        img-src 'self' https://cadviewer.com data: ; 
        form-action 'self'; 
        base-uri 'self';
        frame-ancestors 'self';
      </param-value>

  -->



  <filter>
    <filter-name>CspFilter</filter-name>
    <filter-class>CspFilter</filter-class>
    <init-param>
      <param-name>csp</param-name>
      <param-value>
        default-src 'self'; 
        script-src 'self' 'nonce-8IBTHwOdqNKAWeKl7plt8g=='; 
        style-src 'self' 'unsafe-inline'; 
        img-src 'self' https://cadviewer.com data: ; 
        form-action 'self'; 
        base-uri 'self';
        frame-ancestors 'self';
      </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CspFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



   <servlet>
      <servlet-name>AppendServlet</servlet-name>
        <servlet-class>AppendServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AppendServlet</servlet-name>
        <url-pattern>/servlets/servlet/AppendServlet</url-pattern>
    </servlet-mapping>


   <servlet>
      <servlet-name>SaveServlet</servlet-name>
        <servlet-class>SaveServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SaveServlet</servlet-name>
        <url-pattern>/servlets/servlet/SaveServlet</url-pattern>
    </servlet-mapping>


   <servlet>
      <servlet-name>SaveRedlinesServlet</servlet-name>
        <servlet-class>SaveRedlinesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SaveRedlinesServlet</servlet-name>
        <url-pattern>/servlets/servlet/SaveRedlinesServlet</url-pattern>
    </servlet-mapping>


   <servlet>
      <servlet-name>LoadRedlinesServlet</servlet-name>
        <servlet-class>LoadRedlinesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoadRedlinesServlet</servlet-name>
        <url-pattern>/servlets/servlet/LoadRedlinesServlet</url-pattern>
    </servlet-mapping>


   <servlet>
      <servlet-name>LoadServlet</servlet-name>
        <servlet-class>LoadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoadServlet</servlet-name>
        <url-pattern>/servlets/servlet/LoadServlet</url-pattern>
    </servlet-mapping>

   <servlet>
      <servlet-name>CustomPrintToPDFServlet</servlet-name>
        <servlet-class>CustomPrintToPDFServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomPrintToPDFServlet</servlet-name>
        <url-pattern>/servlets/servlet/CustomPrintToPDFServlet</url-pattern>
    </servlet-mapping>



    <servlet>
       <servlet-name>ListDirectoryContent</servlet-name>
       <servlet-class>ListDirectoryContent</servlet-class>
     </servlet>

    <servlet-mapping>
        <servlet-name>ListDirectoryContent</servlet-name>
        <url-pattern>/servlets/servlet/ListDirectoryContent</url-pattern>
    </servlet-mapping>


    <servlet>
       <servlet-name>ListDirectoryContentRedlines</servlet-name>
       <servlet-class>ListDirectoryContentRedlines</servlet-class>
     </servlet>

    <servlet-mapping>
        <servlet-name>ListDirectoryContentRedlines</servlet-name>
        <url-pattern>/servlets/servlet/ListDirectoryContentRedlines</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ReturnPDFParamsServlet</servlet-name>
        <servlet-class>ReturnPDFParamsServlet</servlet-class>
		<init-param>
		<param-name>fileLocation</param-name>  
		<param-value>c:\\xampp\\tomcat\\webapps\\cadviewer\\converters\\files\\</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/converters/files/</param-value>-->
		</init-param>
		<init-param>
		<param-name>fileLocationUrl</param-name>  
		<param-value>http://localhost:8080/cadviewer/converters/files/</param-value>    
		</init-param>

    </servlet>
    
    <servlet-mapping>
        <servlet-name>ReturnPDFParamsServlet</servlet-name>
        <url-pattern>/servlets/servlet/ReturnPDFParamsServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>getFileServlet</servlet-name>
        <servlet-class>getFileServlet</servlet-class>
		<init-param>
		<param-name>fileLocation</param-name>  
		<param-value>/xampp/tomcat/webapps/cadviewer/converters/files/</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/converters/files/</param-value>-->
		</init-param>
		<init-param>
		<param-name>fileLocationUrl</param-name>  
		<param-value>http://localhost:8080/cadviewer/converters/files/</param-value>    
		</init-param>
		<init-param>
		<param-name>ServerUrl</param-name>  
		<param-value>http://localhost:8080/cadviewer/</param-value>    
		</init-param>




    </servlet>
    
    <servlet-mapping>
        <servlet-name>getFileServlet</servlet-name>
        <url-pattern>/servlets/servlet/getFileServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>callApiConversionServlet</servlet-name>
        <servlet-class>callApiConversionServlet</servlet-class>

		<init-param>
		<param-name>cvjs_debug</param-name>  
		<param-value>true</param-value>    
		</init-param>
		<init-param>
		<param-name>ServerLocation</param-name>  
		<param-value>/xampp/tomcat/webapps/cadviewer/</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/</param-value>-->
		</init-param>
		<init-param>
		<param-name>ServerUrl</param-name>  
		<param-value>http://localhost:8080/cadviewer/</param-value>    
		</init-param>
		<init-param>
		<param-name>fileLocation</param-name>  
		<param-value>/xampp/tomcat/webapps/cadviewer/converters/files/</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/converters/files/</param-value>-->
		</init-param>
		<init-param>
		<param-name>fileLocationUrl</param-name>  
		<param-value>http://localhost:8080/cadviewer/converters/files/</param-value>    
		</init-param>
		<init-param>
		<param-name>converterLocation</param-name>  
		<param-value>C:/xampp/tomcat/webapps/cadviewer/converters/ax2023/windows/</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/converters/ax2022/linux/</param-value>-->
		</init-param>
		<init-param>	
		<param-name>ax2020_executable</param-name>  
		<param-value>AX2023_W64_23_10_105.exe</param-value>    
<!--  <param-value>ax2022_L64_23_10_105</param-value>-->
		</init-param>
		<init-param>
		<param-name>licenseLocation</param-name>  
		<param-value>/xampp/tomcat/webapps/cadviewer/converters/ax2023/windows/</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/converters/ax2022/linux/</param-value>-->
		</init-param>
		<init-param>
		<param-name>xpathLocation</param-name>  
		<param-value>/xampp/tomcat/webapps/cadviewer/converters/ax2023/windows/</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/converters/ax2022/linux/</param-value>-->
		</init-param>
		<init-param>
		<param-name>callbackMethod</param-name>  
		<param-value>http://localhost:8080/cadviewer/servlets/servlet/getFileServlet</param-value>    
		</init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>callApiConversionServlet</servlet-name>
        <url-pattern>/servlets/servlet/callApiConversionServlet</url-pattern>
    </servlet-mapping>

	

    <servlet>
       <servlet-name>MergeDwgServlet</servlet-name>
        <servlet-class>MergeDwgServlet</servlet-class>
 		<init-param>
		<param-name>dwgmergeLocation</param-name>  
		<param-value>c:\\xampp\\tomcat\\webapps\\cadviewer\\converters\\dwgmerge2023\\windows\\</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/converters/dwgmerge2020/linux/</param-value>-->
		</init-param>
		<init-param>
		<param-name>dwgmerge2020_executable</param-name>  
		<param-value>DwgMerge2023_W32_23_01_01.exe</param-value> 
<!--  <param-value>DwgMerge_2020_L64_20_01_08</param-value>-->
		</init-param>

    </servlet>
    
    <servlet-mapping>
        <servlet-name>MergeDwgServlet</servlet-name>
        <url-pattern>/servlets/servlet/MergeDwgServlet</url-pattern>
    </servlet-mapping>
	


    <servlet>
        <servlet-name>CopyServlet</servlet-name>
        <servlet-class>CopyServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CopyServlet</servlet-name>
        <url-pattern>/servlets/servlet/CopyServlet</url-pattern>
    </servlet-mapping>

	
	<servlet>
        <servlet-name>MergeEmailServlet</servlet-name>
        <servlet-class>MergeEmailServlet</servlet-class>
		<init-param>
		<param-name>mail_smtp_host</param-name>  
		<param-value>smtp.1and1.com</param-value>    
		</init-param>
		<init-param>
		<param-name>mail_smtp_port</param-name>  
		<param-value>587</param-value>    
		</init-param>
		<init-param>
		<param-name>mail_smtp_auth</param-name>  
		<param-value>true</param-value>    
		</init-param>
		<init-param>
		<param-name>username</param-name>  
		<param-value>myusername</param-value>    
		</init-param>
		<init-param>
		<param-name>password</param-name>  
		<param-value>mypassword</param-value>    
		</init-param>	
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MergeEmailServlet</servlet-name>
        <url-pattern>/servlets/servlet/MergeEmailServlet</url-pattern>
    </servlet-mapping>

	
    <servlet>
		<servlet-name>MakeSinglepagePDFServlet</servlet-name>
        <servlet-class>MakeSinglepagePDFServlet</servlet-class>
		<init-param>
		<param-name>cvjs_debug</param-name>  
		<param-value>true</param-value>    
		</init-param>
		<init-param>
		<param-name>fileLocation</param-name>  
		<param-value>/xampp/tomcat/webapps/cadviewer/converters/files/</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/converters/files/</param-value>-->
		</init-param>
		<init-param>
		<param-name>converterLocation</param-name>  
		<param-value>C:/xampp/tomcat/webapps/cadviewer/converters/ax2023/windows/</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/converters/ax2022/linux/</param-value>-->
		</init-param>
		<init-param>	
		<param-name>ax2020_executable</param-name>  
		<param-value>AX2023_W64_23_10_105.exe</param-value>    
<!--  <param-value>ax2022_L64_23_10_105</param-value>-->
		</init-param>
		<init-param>
		<param-name>licenseLocation</param-name>  
		<param-value>/xampp/tomcat/webapps/cadviewer/converters/ax2023/windows/</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/converters/ax2022/linux/</param-value>-->
		</init-param>
		<init-param>
		<param-name>xpathLocation</param-name>  
		<param-value>/xampp/tomcat/webapps/cadviewer/converters/ax2023/windows/</param-value>    
<!--  <param-value>/opt/tomcat/apache-tomcat-9.0.58/webapps/cadviewer/converters/ax2022/linux/</param-value>-->
		</init-param>

    </servlet>
    
    <servlet-mapping>
        <servlet-name>MakeSinglepagePDFServlet</servlet-name>
        <url-pattern>/servlets/servlet/MakeSinglepagePDFServlet</url-pattern>
    </servlet-mapping>
	
   <servlet>
        <servlet-name>GetQRCodeServlet</servlet-name>
        <servlet-class>GetQRCodeServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GetQRCodeServlet</servlet-name>
        <url-pattern>/servlets/servlet/GetQRCodeServlet</url-pattern>
    </servlet-mapping>
	
		
    <!-- ABOVE Define servlets that are included in CADViewerapplication -->

<!--
    <jsp-config>
        <taglib>
	    <taglib-uri>
	       http://tomcat.apache.org/debug-taglib
	    </taglib-uri>
	    <taglib-location>
	       WEB-INF/jsp/debug-taglib.tld
	    </taglib-location>
	</taglib>

	<taglib>
	    <taglib-uri>
	       http://tomcat.apache.org/examples-taglib
	    </taglib-uri>
	    <taglib-location>
	       WEB-INF/jsp/example-taglib.tld
	    </taglib-location>
	</taglib>

	<taglib>
	    <taglib-uri>
	       http://tomcat.apache.org/jsp2-example-taglib
	    </taglib-uri>
	    <taglib-location>
	       WEB-INF/jsp2/jsp2-example-taglib.tld
	    </taglib-location>
	</taglib>

	<jsp-property-group>
	    <description>
		Special property group for JSP Configuration JSP example.
	    </description>
	    <display-name>JSPConfiguration</display-name>
	    <url-pattern>/jsp/jsp2/misc/config.jsp</url-pattern>
	    <el-ignored>true</el-ignored>
	    <page-encoding>ISO-8859-1</page-encoding>
	    <scripting-invalid>true</scripting-invalid>
	    <include-prelude>/jsp/jsp2/misc/prelude.jspf</include-prelude>
	    <include-coda>/jsp/jsp2/misc/coda.jspf</include-coda>
	</jsp-property-group>
    </jsp-config>

-->

    
   <security-constraint>
      <display-name>Example Security Constraint</display-name>
      <web-resource-collection>
         <web-resource-name>Protected Area</web-resource-name>
	 <!-- Define the context-relative URL(s) to be protected -->
         <url-pattern>/jsp/security/protected/*</url-pattern>
	 <!-- If you list http methods, only those methods are protected -->
	 <http-method>DELETE</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
	 <http-method>PUT</http-method>
      </web-resource-collection>
      <auth-constraint>
         <!-- Anyone with one of the listed roles may access this area -->
         <role-name>tomcat</role-name>
	 <role-name>role1</role-name>
      </auth-constraint>
    </security-constraint>

    <!-- Default login configuration uses form-based authentication -->
    <login-config>
      <auth-method>FORM</auth-method>
      <realm-name>Example Form-Based Authentication Area</realm-name>
      <form-login-config>
        <form-login-page>/jsp/security/protected/login.jsp</form-login-page>
        <form-error-page>/jsp/security/protected/error.jsp</form-error-page>
      </form-login-config>
    </login-config>
        
    <!-- Security roles referenced by this web application -->
    <security-role>
      <role-name>role1</role-name>
    </security-role>
    <security-role>
      <role-name>tomcat</role-name>
    </security-role>    

    <!-- Environment entry examples -->
    <!--env-entry>
      <env-entry-description>
         The maximum number of tax exemptions allowed to be set.
      </env-entry-description>
      <env-entry-name>maxExemptions</env-entry-name>
      <env-entry-type>java.lang.Integer</env-entry-type>
      <env-entry-value>15</env-entry-value>
    </env-entry-->
    <env-entry>
      <env-entry-name>minExemptions</env-entry-name>
      <env-entry-type>java.lang.Integer</env-entry-type>
      <env-entry-value>1</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>foo/name1</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>value1</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>foo/bar/name2</env-entry-name>
      <env-entry-type>java.lang.Boolean</env-entry-type>
      <env-entry-value>true</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>name3</env-entry-name>
      <env-entry-type>java.lang.Integer</env-entry-type>
      <env-entry-value>1</env-entry-value>
    </env-entry>
    <env-entry>
      <env-entry-name>foo/name4</env-entry-name>
      <env-entry-type>java.lang.Integer</env-entry-type>
      <env-entry-value>10</env-entry-value>
    </env-entry>

</web-app>
